<body>
  <div class="container">
    <div class="landing-page">
      <div class="content__wrapper">
        <header class="header">
          <h1 class="title">
            <img class="logo" src="https://cdn-images-1.medium.com/max/796/1*juPyda3wq9uz_SNFRLuANg@2x.png" /> Playground</h1>
        </header>
        <p class="coords">Latitude: 39.98851 | Longitude: -75.563648</p>
        <div class="ellipses-container">
          <h2 class="greeting">Hello</h2>
          <a routerLink="/Dashboard" class="fancy-btn">WORLD</a>
          <div class="ellipses ellipses__outer--thin">
            <div class="ellipses ellipses__orbit"></div>
          </div>
          <div class="ellipses ellipses__outer--thick"></div>
        </div>
      </div>
    </div>
  </div>
</body>
