#contentContainer {
    height: 100%;
}

.row {
    margin: 0;
    padding: 0;
    height: 85vh;
}

header {
    /* Joy Red #eb5d5e*/
    background: #383B42;
    min-height: 15vh;
    color: white;
    display: flex;
}

#logo {
    background: #383B42;
    float: left;
    width: 15vw;
    text-align: center;
    height: 100%;
}

#logo img {
    width: 45%;
}

#headerContent {
    float: left;
    padding: 1vh;
    border-left: 1vh solid #B3BBC6;
    height: 100%;
}

nav {
    background: #383B42;
    width: 15.6vw;
    display: flex;
    flex-direction: column;
    box-shadow: -4px 0px 10px rgba(14, 14, 14, 0.48) inset;
    border-top: 1vh solid #B3BBC6;
    height: 85vh;
}

nav button {
    padding: 2vh;
    background: none;
    border: none;
    border-bottom: .5vh solid #A2A2A2;
    color: white;
    display: flex;
    outline-style: none;
}

nav button:hover {
    background: #454952;
    transition: all 0.6s;
    cursor: pointer;
}

nav button i {
    width: 1vw;
    margin-right: 2vw;
    margin-left: 1vw;
}

.setToLeft {
    margin: 0;
    padding: 0;
}